In [14]:
#1 Importar librerias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [15]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [16]:
#2 Leer CSV
EmpleadosAttrition = pd.read_csv ('/content/gdrive/MyDrive/Colab Notebooks/Data15/empleadosRETO.csv')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

In [17]:
#3 Eliminar columnas
EmpleadosAttrition.drop(['EmployeeCount', 'Over18', 'StandardHours'], axis=1 ,inplace=True)

In [18]:
EmpleadosAttrition.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome            object
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
HiringDate                  object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
Attrition                   object
dtype: object

In [19]:
#4 Crear columnas
#año de contratación
EmpleadosAttrition['fechaTmp'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')

EmpleadosAttrition.dropna(subset=['fechaTmp'], inplace=True)
EmpleadosAttrition['Year'] = EmpleadosAttrition['fechaTmp'].dt.year
EmpleadosAttrition['Year'] = EmpleadosAttrition['Year'].astype(int)
EmpleadosAttrition.drop(['fechaTmp'], axis=1 ,inplace=True)
#b Años que lleva en la compañia
EmpleadosAttrition['YearsAtCompany'] = 2018 -  EmpleadosAttrition.Year

In [20]:
#Columna de distancia en numérico
EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace=True)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace(' km', '', regex=False)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome'].astype(int)

In [21]:
#6 Eliminar las columnas innecesarias
EmpleadosAttrition.drop(['Year','HiringDate','DistanceFromHome_km'], axis=1 ,inplace=True)

In [22]:
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,4,3,32,1,2,4,1,No,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,4,4,7,0,3,2,0,No,3,6
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,3,4,18,4,3,6,4,No,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2,20
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,3,3,10,1,3,8,0,No,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,3,4,7,5,2,0,0,No,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,3,4,8,5,3,7,1,No,8,14

In [23]:
#7 Ingreso promedio por departamentos
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto.rename(columns={'MonthlyIncome':'SueldoPromedio'}, inplace=True)
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7192.609756

In [24]:
#8 Escalar la columna [MonthlyIncome]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
EmpleadosAttrition['MonthlyIncome_Scarlar'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome,MonthlyIncome_Scarlar
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,3,32,1,2,4,1,No,5,1,0.864269
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,4,7,0,3,2,0,No,3,6,0.207340
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,2,1,3,3,0,1,Yes,1,7,0.088062
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,4,18,4,3,6,4,No,8,7,0.497574
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,4,15,2,4,6,7,Yes,7,15,0.664470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,3,8,2,1,4,0,Yes,5,14,0.075248
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,3,4,2,3,2,2,Yes,2,20,0.187197
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,3,10,1,3,8,0,No,10,11,0.589327
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,4,7,5,2,0,0,No,0,4,0.121124
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,4,8,5,3,7,1,No,8,14,0.092122

In [26]:
#9 Convertir las columnas [BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Attrition]
from sklearn.preprocessing import OneHotEncoder

columnas = ['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']

for col in columnas:
    # limpiar los nulos
    EmpleadosAttrition[col] = EmpleadosAttrition[col].astype(str).fillna('')
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(EmpleadosAttrition[[col]])

    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out([col]), index=EmpleadosAttrition.index)
    EmpleadosAttrition = pd.concat([EmpleadosAttrition, encoded_df], axis=1)


EmpleadosAttrition  #58 columnas

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,Attrition_No,Attrition_Yes
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [27]:
EmpleadosAttrition.dtypes

Age                                    int64
BusinessTravel                        object
Department                            object
Education                              int64
EducationField                        object
EmployeeNumber                         int64
EnvironmentSatisfaction                int64
Gender                                object
JobInvolvement                         int64
JobLevel                               int64
JobRole                               object
JobSatisfaction                        int64
MaritalStatus                         object
MonthlyIncome                          int64
NumCompaniesWorked                     int64
OverTime                              object
PercentSalaryHike                      int64
PerformanceRating                      int64
RelationshipSatisfaction               int64
TotalWorkingYears                      int64
TrainingTimesLastYear                  int64
WorkLifeBalance                        int64
YearsInCurrentRole                     int64
YearsSinceLastPromotion                int64
Attrition                             object
YearsAtCompany                         int64
DistanceFromHome                       int64
MonthlyIncome_Scarlar                float64
BusinessTravel_Non-Travel            float64
BusinessTravel_Travel_Frequently     float64
BusinessTravel_Travel_Rarely         float64
BusinessTravel_nan                   float64
Department_Human Resources           float64
Department_Research & Development    float64
Department_Sales                     float64
EducationField_Human Resources       float64
EducationField_Life Sciences         float64
EducationField_Marketing             float64
EducationField_Medical               float64
EducationField_Other                 float64
EducationField_Technical Degree      float64
Gender_Female                        float64
Gender_Male                          float64
JobRole_Healthcare Representative    float64
JobRole_Human Resources              float64
JobRole_Laboratory Technician        float64
JobRole_Manager                      float64
JobRole_Manufacturing Director       float64
JobRole_Research Director            float64
JobRole_Research Scientist           float64
JobRole_Sales Executive              float64
JobRole_Sales Representative         float64
MaritalStatus_Divorced               float64
MaritalStatus_Married                float64
MaritalStatus_Single                 float64
MaritalStatus_nan                    float64
Attrition_No                         float64
Attrition_Yes                        float64
dtype: object

In [43]:
#10 Correlación lineal de cada una de las variables

#eliminamos las variables categoricas

df = EmpleadosAttrition.drop(['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition','OverTime'], axis=1 ) #,inplace=True
df_matrix = df.corr()
df_matrix

,Age,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,Attrition_No,Attrition_Yes
Age,1.000000,0.200703,0.005733,-0.006543,0.038132,0.458282,0.002529,0.441070,0.328383,0.003189,...,0.196375,-0.124422,-0.033694,-0.236099,-0.003714,0.090293,-0.109393,0.049887,0.212459,-0.212459
Education,0.200703,1.000000,0.073821,-0.014185,0.002132,0.007115,-0.031632,0.000632,0.092049,-0.005107,...,0.008085,0.029842,0.075415,-0.136240,0.055107,-0.045276,0.011531,-0.055101,0.054478,-0.054478
EmployeeNumber,0.005733,0.073821,1.000000,0.030200,0.061580,-0.052458,-0.071280,-0.050623,0.001193,-0.028634,...,0.006029,0.023498,0.001517,0.047832,-0.019750,0.030445,-0.005555,-0.038306,-0.009775,0.009775
EnvironmentSatisfaction,-0.006543,-0.014185,0.030200,1.000000,0.017086,-0.055989,-0.003375,-0.049108,0.023802,-0.041344,...,-0.049942,0.116108,-0.063283,-0.045643,0.010723,0.011083,-0.015626,-0.027976,0.125091,-0.125091
JobInvolvement,0.038132,0.002132,0.061580,0.017086,1.000000,-0.017083,-0.025471,-0.030251,-0.027654,-0.066809,...,0.015202,0.035208,-0.011409,-0.002361,-0.047232,0.106417,-0.062550,-0.043915,0.168047,-0.168047
JobLevel,0.458282,0.007115,-0.052458,-0.055989,-0.017083,1.000000,0.016961,0.951705,0.166491,0.005878,...,0.498984,-0.395030,0.087937,-0.239814,-0.018977,0.051532,-0.055129,0.063831,0.214486,-0.214486
JobSatisfaction,0.002529,-0.031632,-0.071280,-0.003375,-0.025471,0.016961,1.000000,-0.006303,-0.019904,-0.034717,...,-0.063326,0.030413,0.055430,-0.071526,0.066942,-0.041055,-0.011401,-0.027133,0.163964,-0.163964
MonthlyIncome,0.441070,0.000632,-0.050623,-0.049108,-0.030251,0.951705,-0.006303,1.000000,0.173504,0.006253,...,0.569761,-0.359319,0.017635,-0.220073,-0.026726,0.054543,-0.050632,0.061982,0.195044,-0.195044
NumCompaniesWorked,0.328383,0.092049,0.001193,0.023802,-0.027654,0.166491,-0.019904,0.173504,1.000000,0.013303,...,0.102613,-0.116020,-0.033052,-0.124966,0.015593,0.013530,-0.035810,0.023642,0.008590,-0.008590
PercentSalaryHike,0.003189,-0.005107,-0.028634,-0.041344,-0.066809,0.005878,-0.034717,0.006253,0.013303,1.000000,...,-0.031902,0.030752,-0.066617,0.014898,-0.051864,0.036144,0.000821,0.033841,0.061714,-0.061714
PerformanceRating,0.008038,-0.041229,-0.061864,0.001429,-0.091614,0.010167,-0.041260,0.008634,0.020118,0.787836,...,-0.039562,0.031070,-0.062316,0.007961,-0.045700,-0.040499,0.073516,0.061137,0.007010,-0.007010
RelationshipSatisfaction,0.088471,0.078327,-0.075723,-0.037987,0.011585,0.035425,0.011545,0.050395,0.051608,-0.063641,...,-0.026093,-0.048928,0.057916,-0.052409,0.046262,0.003544,-0.025025,-0.092858,0.032777,-0.032777
TotalWorkingYears,0.628216,0.068459,-0.050662,-0.034814,-0.030933,0.753525,-0.005135,0.740149,0.251986,0.065619,...,0.359396,-0.230652,-0.044890,-0.239093,-0.006730,0.083311,-0.086021,-0.001347,0.214043,-0.214043
TrainingTimesLastYear,-0.078635,-0.033961,0.115476,-0.004754,0.003091,-0.018904,-0.021478,-0.030639,-0.075428,-0.006687,...,-0.051867,-0.065257,0.049962,0.061837,0.032218,0.004323,-0.014670,-0.084100,0.071592,-0.071592
WorkLifeBalance,0.013184,0.027169,0.016795,-0.012742,0.010831,0.085302,-0.035150,0.089460,-0.004181,-0.003090,...,0.052909,-0.053264,-0.000368,0.024468,0.012438,-0.032323,0.039950,-0.063728,0.023063,-0.023063
YearsInCurrentRole,0.130284,0.052528,-0.009659,-0.011526,-0.026505,0.396213,0.065944,0.373811,-0.057459,0.078678,...,0.221421,-0.147496,0.104852,-0.160642,0.043674,0.056943,-0.124982,0.080199,0.204453,-0.204453
YearsSinceLastPromotion,0.118777,0.041604,0.009545,-0.010147,-0.034140,0.384199,-0.011529,0.367437,-0.050021,0.078239,...,0.073279,-0.140374,0.060420,-0.087323,0.004954,0.049216,-0.053739,-0.023336,0.069835,-0.069835
YearsAtCompany,0.185907,0.045575,-0.004988,-0.013874,-0.010812,0.507785,0.038013,0.488440,-0.105491,0.068593,...,0.224136,-0.164554,0.054323,-0.176411,0.078593,0.037816,-0.127072,0.040244,0.176287,-0.176287
DistanceFromHome,0.014237,0.034480,0.058833,-0.085390,0.068870,0.019508,-0.007494,-0.004123,0.079077,0.012990,...,0.025336,0.094333,-0.029022,-0.068353,0.006129,0.019911,-0.009489,-0.074649,-0.052944,0.052944
MonthlyIncome_Scarlar,0.441070,0.000632,-0.050623,-0.049108,-0.030251,0.951705,-0.006303,1.000000,0.173504,0.006253,...,0.569761,-0.359319,0.017635,-0.220073,-0.026726,0.054543,-0.050632,0.061982,0.195044,-0.195044
BusinessTravel_Non-Travel,-0.067135,-0.014160,-0.009279,-0.018111,-0.112244,0.019866,0.059675,0.012801,0.037165,0.044979,...,-0.015282,-0.107443,0.034870,-0.015448,0.071405,-0.089266,0.021666,0.038789,0.101103,-0.101103
BusinessTravel_Travel_Frequently,-0.014108,-0.029370,-0.078587,-0.037753,0.019356,0.029065,-0.006659,0.006407,-0.130371,0.021773,...,-0.033880,0.036580,0.001580,0.069426,0.011354,-0.004539,0.008665,-0.058173,-0.034833,0.034833
BusinessTravel_Travel_Rarely,0.062199,0.053399,0.068761,0.028684,0.052766,-0.020628,-0.028959,0.001419,0.091401,-0.048233,...,0.046172,0.032263,-0.012416,-0.067550,-0.055933,0.048749,-0.008035,0.028608,-0.043551,0.043551
BusinessTravel_nan,-0.032970,-0.087282,0.027750,0.074362,0.008658,-0.081706,-0.015233,-0.071016,-0.004644,0.002346,...,-0.031691,0.019727,-0.052357,0.077792,0.002213,0.056732,-0.062474,-0.011336,0.044800,-0.044800
Department_Human Resources,0.009474,0.011880,0.024899,-0.001367,-0.004141,-0.022010,-0.015444,-0.020817,0.087726,0.022473,...,-0.047840,-0.070071,-0.079038,-0.039276,0.072444,0.026449,-0.094309,-0.017113,-0.023226,0.023226
Department_Research & Development,0.085048,0.000417,-0.017300,0.058917,-0.002559,-0.063939,-0.012722,-0.031073,0.053429,0.010316,...,0.221426,0.324326,-0.739969,-0.367708,-0.002998,0.062601,-0.074629,0.031323,0.074053,-0.074053
Department_Sales,-0.089703,-0.004244,0.009621,-0.059591,0.003939,0.072225,0.017929,0.038354,-0.082647,-0.017737,...,-0.210231,-0.307928,0.779375,0.387290,-0.020239,-0.072290,0.106365,-0.026413,-0.067985,0.067985
EducationField_Human Resources,0.000344,0.028501,-0.018212,-0.012625,-0.020947,-0.002383,-0.028769,0.002006,0.097220,0.027045,...,-0.042083,-0.061639,-0.069527,-0.034549,0.014103,0.065772,-0.082960,-0.015054,-0.043267,0.043267
EducationField_Life Sciences,-0.044740,0.014524,-0.058249,0.008320,-0.027246,-0.029757,0.009953,-0.033393,-0.033345,0.072476,...,0.045294,0.027388,-0.034066,-0.049905,-0.056382,-0.033258,0.071512,0.077772,0.028511,-0.028511
EducationField_Marketing,0.039006,0.082193,-0.013658,-0.039068,0.006949,0.030528,-0.036798,0.026490,0.009920,0.001183,...,-0.100680,-0.147468,0.361236,0.202577,0.062619,-0.057848,-0.005654,0.041661,-0.020458,0.020458
EducationField_Medical,0.069386,-0.116260,0.057385,0.022359,0.067740,0.044989,0.012722,0.059190,0.040983,-0.024372,...,0.020269,0.039804,-0.144668,-0.093869,0.040383,0.001445,-0.020467,-0.079208,0.054974,-0.054974
EducationField_Other,-0.017847,0.073127,0.028789,0.075450,-0.032764,-0.032398,-0.049645,-0.039476,0.007063,-0.101159,...,0.052813,0.051571,-0.058854,-0.057812,-0.015733,0.025830,-0.007504,-0.025190,0.004525,-0.004525
EducationField_Technical Degree,-0.078518,0.018892,0.009784,-0.077732,-0.046397,-0.035001,0.061685,-0.047131,-0.086833,-0.030589,...,-0.037749,0.032922,0.008401,0.118780,-0.033221,0.081178,-0.051955,-0.027213,-0.128876,0.128876
Gender_Female,-0.009972,-0.048504,0.015856,-0.035010,-0.064659,0.070573,-0.088214,0.090765,0.062612,-0.028343,...,0.103509,-0.006322,0.015008,0.009922,-0.123756,0.053539,0.048293,0.040830,-0.030200,0.030200
Gender_Male,0.009972,0.048504,-0.015856,0.035010,0.064659,-0.070573,0.088214,-0.090765,-0.062612,0.028343,...,-0.103509,0.006322,-0.015008,-0.009922,0.123756,-0.053539,-0.048293,-0.040830,0.030200,-0.030200
JobRole_Healthcare Representative,0.122102,0.089229,0.006206,-0.037957,0.006028,0.085231,0.016675,0.031191,0.083200,0.020995,...,-0.105119,-0.153969,-0.173671,-0.086301,0.007339,0.020956,-0.039625,0.037415,0.103686,-0.103686
JobRole_Human Resources,-0.032578,-0.005720,0.052003,-0.006636,0.012307,-0.068432,-0.037652,-0.065608,0.049738,-0.001384,...,-0.045046,-0.065979,-0.074422,-0.036982,0.086804,0.008980,-0.088802,-0.016114,-0.032564,0.032564
JobRole_Laboratory Technician,-0.117141,-0.015588,0.029483,0.022036,0.018141,-0.363254,-0.035005,-0.339011,-0.013469,-0.030665,...,-0.141471,-0.207214,-0.233729,-0.116146,0.060857,-0.005388,-0.054451,0.009668,-0.124827,0.124827
JobRole_Manager,0.235145,-0.075369,-0.075394,0.040157,-0.011799,0.476534,-0.003621,0.548236,0.097804,0.069129,...,-0.083144,-0.121782,-0.137365,-0.068260,-0.053585,0.057273,-0.005282,-0.029742,0.090209,-0.090209
JobRole_Manufacturing Director,0.051220,-0.042674,-0.079647,0.004244,-0.064868,0.102833,0.050383,0.035110,0.024378,0.030626,...,-0.108016,-0.158213,-0.178458,-0.088680,-0.021117,0.005168,0.023980,-0.038639,0.042802,-0.042802
JobRole_Research Director,0.196375,0.008085,0.006029,-0.049942,0.015202,0.498984,-0.063326,0.569761,0.102613,-0.031902,...,1.000000,-0.145261,-0.163849,-0.081420,-0.013541,0.019771,-0.019815,0.043162,0.116656,-0.116656
JobRole_Research Scientist,-0.124422,0.029842,0.023498,0.116108,0.035208,-0.395030,0.030413,-0.359319,-0.116020,0.030752,...,-0.145261,1.000000,-0.239991,-0.119257,-0.012982,0.002548,0.007740,0.007275,-0.007467,0.007467
JobRole_Sales Executive,-0.033694,0.075415,0.001517,-0.063283,-0.011409,0.087937,0.055430,0.017635,-0.033052,-0.066617,...,-0.163849,-0.239991,1.000000,-0.134518,0.022180,-0.022534,0.004827,-0.003586,0.000991,-0.000991
JobRole_Sales Representative,-0.236099,-0.136240,0.047832,-0.045643,-0.002361,-0.239814,-0.071526,-0.220073,-0.124966,0.014898,...,-0.081420,-0.119257,-0.134518,1.000000,-0.072946,-0.077028,0.162591,-0.029125,-0.191070,0.191070
MaritalStatus_Divorced,-0.003714,0.055107,-0.019750,0.010723,-0.047232,-0.018977,0.066942,-0.026726,0.015593,-0.051864,...,-0.013541,-0.012982,0.022180,-0.072946,1.000000,-0.528649,-0.349446,-0.063409,0.108565,-0.108565
MaritalStatus_Married,0.090293,-0.045276,0.030445,0.011083,0.106417,0.051532,-0.041055,0.054543,0.013530,0.036144,...,0.019771,0.002548,-0.022534,-0.077028,-0.528649,1.000000,-0.583067,-0.105801,0.093706,-0.093706
MaritalStatus_Single,-0.109393,0.011531,-0.005555,-0.015626,-0.062550,-0.055129,-0.011401,-0.050632,-0.035810,0.000821,...,-0.019815,0.007740,0.004827,0.162591,-0.349446,-0.583067,1.000000,-0.069936,-0.205308,0.205308
MaritalStatus_nan,0.049887,-0.055101,-0.038306,-0.027976,-0.043915,0.063831,-0.027133,0.061982,0.023642,0.033841,...,0.043162,0.007275,-0.003586,-0.029125,-0.063409,-0.105801,-0.069936,1.000000,-0.010486,0.010486
Attrition_No,0.212459,0.054478,-0.009775,0.125091,0.168047,0.214486,0.163964,0.195044,0.008590,0.061714,...,0.116656,-0.007467,0.000991,-0.191070,0.108565,0.093706,-0.205308,-0.010486,1.000000,-1.000000
Attrition_Yes,-0.212459,-0.054478,0.009775,-0.125091,-0.168047,-0.214486,-0.163964,-0.195044,-0.008590,-0.061714,...,-0.116656,0.007467,-0.000991,0.191070,-0.108565,-0.093706,0.205308,0.010486,-1.000000,1.000000

In [50]:
#10 seleccionar variables que tengan una correlación mayo a 0.1
#EmpleadosAttritionFinal = df_matrix[df_matrix.abs() > 0.1]
EmpleadosAttritionFinal = df_matrix[df_matrix.abs() > 0.1].dropna(axis=0, how='all').dropna(axis=1, how='all')
EmpleadosAttritionFinal

,Age,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,Attrition_No,Attrition_Yes
Age,1.000000,0.200703,NaN,NaN,NaN,0.458282,NaN,0.441070,0.328383,NaN,...,0.196375,-0.124422,NaN,-0.236099,NaN,NaN,-0.109393,NaN,0.212459,-0.212459
Education,0.200703,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.136240,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnvironmentSatisfaction,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.116108,NaN,NaN,NaN,NaN,NaN,NaN,0.125091,-0.125091
JobInvolvement,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.106417,NaN,NaN,0.168047,-0.168047
JobLevel,0.458282,NaN,NaN,NaN,NaN,1.000000,NaN,0.951705,0.166491,NaN,...,0.498984,-0.395030,NaN,-0.239814,NaN,NaN,NaN,NaN,0.214486,-0.214486
JobSatisfaction,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.163964,-0.163964
MonthlyIncome,0.441070,NaN,NaN,NaN,NaN,0.951705,NaN,1.000000,0.173504,NaN,...,0.569761,-0.359319,NaN,-0.220073,NaN,NaN,NaN,NaN,0.195044,-0.195044
NumCompaniesWorked,0.328383,NaN,NaN,NaN,NaN,0.166491,NaN,0.173504,1.000000,NaN,...,0.102613,-0.116020,NaN,-0.124966,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PerformanceRating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RelationshipSatisfaction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotalWorkingYears,0.628216,NaN,NaN,NaN,NaN,0.753525,NaN,0.740149,0.251986,NaN,...,0.359396,-0.230652,NaN,-0.239093,NaN,NaN,NaN,NaN,0.214043,-0.214043
TrainingTimesLastYear,NaN,NaN,0.115476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WorkLifeBalance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsInCurrentRole,0.130284,NaN,NaN,NaN,NaN,0.396213,NaN,0.373811,NaN,NaN,...,0.221421,-0.147496,0.104852,-0.160642,NaN,NaN,-0.124982,NaN,0.204453,-0.204453
YearsSinceLastPromotion,0.118777,NaN,NaN,NaN,NaN,0.384199,NaN,0.367437,NaN,NaN,...,NaN,-0.140374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsAtCompany,0.185907,NaN,NaN,NaN,NaN,0.507785,NaN,0.488440,-0.105491,NaN,...,0.224136,-0.164554,NaN,-0.176411,NaN,NaN,-0.127072,NaN,0.176287,-0.176287
DistanceFromHome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome_Scarlar,0.441070,NaN,NaN,NaN,NaN,0.951705,NaN,1.000000,0.173504,NaN,...,0.569761,-0.359319,NaN,-0.220073,NaN,NaN,NaN,NaN,0.195044,-0.195044
BusinessTravel_Non-Travel,NaN,NaN,NaN,NaN,-0.112244,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.107443,NaN,NaN,NaN,NaN,NaN,NaN,0.101103,-0.101103
BusinessTravel_Travel_Frequently,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.130371,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel_Travel_Rarely,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel_nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department_Human Resources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department_Research & Development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.221426,0.324326,-0.739969,-0.367708,NaN,NaN,NaN,NaN,NaN,NaN
Department_Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.210231,-0.307928,0.779375,0.387290,NaN,NaN,0.106365,NaN,NaN,NaN
EducationField_Human Resources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Life Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Marketing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.100680,-0.147468,0.361236,0.202577,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Medical,NaN,-0.116260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.144668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.101159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EducationField_Technical Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.118780,NaN,NaN,NaN,NaN,-0.128876,0.128876
Gender_Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.103509,NaN,NaN,NaN,-0.123756,NaN,NaN,NaN,NaN,NaN
Gender_Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.103509,NaN,NaN,NaN,0.123756,NaN,NaN,NaN,NaN,NaN
JobRole_Healthcare Representative,0.122102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.105119,-0.153969,-0.173671,NaN,NaN,NaN,NaN,NaN,0.103686,-0.103686
JobRole_Human Resources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Laboratory Technician,-0.117141,NaN,NaN,NaN,NaN,-0.363254,NaN,-0.339011,NaN,NaN,...,-0.141471,-0.207214,-0.233729,-0.116146,NaN,NaN,NaN,NaN,-0.124827,0.124827
JobRole_Manager,0.235145,NaN,NaN,NaN,NaN,0.476534,NaN,0.548236,NaN,NaN,...,NaN,-0.121782,-0.137365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Manufacturing Director,NaN,NaN,NaN,NaN,NaN,0.102833,NaN,NaN,NaN,NaN,...,-0.108016,-0.158213,-0.178458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Research Director,0.196375,NaN,NaN,NaN,NaN,0.498984,NaN,0.569761,0.102613,NaN,...,1.000000,-0.145261,-0.163849,NaN,NaN,NaN,NaN,NaN,0.116656,-0.116656
JobRole_Research Scientist,-0.124422,NaN,NaN,0.116108,NaN,-0.395030,NaN,-0.359319,-0.116020,NaN,...,-0.145261,1.000000,-0.239991,-0.119257,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Sales Executive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.163849,-0.239991,1.000000,-0.134518,NaN,NaN,NaN,NaN,NaN,NaN
JobRole_Sales Representative,-0.236099,-0.136240,NaN,NaN,NaN,-0.239814,NaN,-0.220073,-0.124966,NaN,...,NaN,-0.119257,-0.134518,1.000000,NaN,NaN,0.162591,NaN,-0.191070,0.191070
MaritalStatus_Divorced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,-0.528649,-0.349446,NaN,0.108565,-0.108565
MaritalStatus_Married,NaN,NaN,NaN,NaN,0.106417,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.528649,1.000000,-0.583067,-0.105801,NaN,NaN
MaritalStatus_Single,-0.109393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.162591,-0.349446,-0.583067,1.000000,NaN,-0.205308,0.205308
MaritalStatus_nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.105801,NaN,1.000000,NaN,NaN
Attrition_No,0.212459,NaN,NaN,0.125091,0.168047,0.214486,0.163964,0.195044,NaN,NaN,...,0.116656,NaN,NaN,-0.191070,0.108565,NaN,-0.205308,NaN,1.000000,-1.000000
Attrition_Yes,-0.212459,NaN,NaN,-0.125091,-0.168047,-0.214486,-0.163964,-0.195044,NaN,NaN,...,-0.116656,NaN,NaN,0.191070,-0.108565,NaN,0.205308,NaN,-1.000000,1.000000