In [6]:
#1 Importar librerias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [86]:
#2 Leer CSV
EmpleadosAttrition = pd.read_csv ('/content/gdrive/MyDrive/Colab Notebooks/Data15/empleadosRETO.csv')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

In [87]:
#3 Eliminar columnas
EmpleadosAttrition.drop(['EmployeeCount', 'Over18', 'StandardHours'], axis=1 ,inplace=True)

In [88]:
EmpleadosAttrition.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome            object
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
HiringDate                  object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
Attrition                   object
dtype: object

In [89]:
#4 Crear columnas
#año de contratación
EmpleadosAttrition['fechaTmp'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')

EmpleadosAttrition.dropna(subset=['fechaTmp'], inplace=True)
EmpleadosAttrition['Year'] = EmpleadosAttrition['fechaTmp'].dt.year
EmpleadosAttrition['Year'] = EmpleadosAttrition['Year'].astype(int)
EmpleadosAttrition.drop(['fechaTmp'], axis=1 ,inplace=True)
#b Años que lleva en la compañia
EmpleadosAttrition['YearsAtCompany'] = 2018 -  EmpleadosAttrition.Year

In [90]:
#Columna de distancia en numérico
EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace=True)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace(' km', '', regex=False)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome'].astype(int)

In [91]:
#6 Eliminar las columnas innecesarias
EmpleadosAttrition.drop(['Year','HiringDate','DistanceFromHome_km'], axis=1 ,inplace=True)

In [92]:
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,4,3,32,1,2,4,1,No,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,4,4,7,0,3,2,0,No,3,6
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,3,4,18,4,3,6,4,No,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2,20
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,3,3,10,1,3,8,0,No,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,3,4,7,5,2,0,0,No,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,3,4,8,5,3,7,1,No,8,14

In [93]:
#7 Ingreso promedio por departamentos
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto.rename(columns={'MonthlyIncome':'SueldoPromedio'}, inplace=True)
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7192.609756

In [94]:
#8 Escalar la columna [MonthlyIncome]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
EmpleadosAttrition['MonthlyIncome_Scarlar'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome,MonthlyIncome_Scarlar
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,3,32,1,2,4,1,No,5,1,0.864269
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,4,7,0,3,2,0,No,3,6,0.207340
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,2,1,3,3,0,1,Yes,1,7,0.088062
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,4,18,4,3,6,4,No,8,7,0.497574
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,4,15,2,4,6,7,Yes,7,15,0.664470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,3,8,2,1,4,0,Yes,5,14,0.075248
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,3,4,2,3,2,2,Yes,2,20,0.187197
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,3,10,1,3,8,0,No,10,11,0.589327
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,4,7,5,2,0,0,No,0,4,0.121124
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,4,8,5,3,7,1,No,8,14,0.092122

In [73]:
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome,MonthlyIncome_Scarlar
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,3,32,1,2,4,1,No,5,1,0.864269
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,4,7,0,3,2,0,No,3,6,0.207340
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,2,1,3,3,0,1,Yes,1,7,0.088062
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,4,18,4,3,6,4,No,8,7,0.497574
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,4,15,2,4,6,7,Yes,7,15,0.664470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,3,8,2,1,4,0,Yes,5,14,0.075248
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,3,4,2,3,2,2,Yes,2,20,0.187197
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,3,10,1,3,8,0,No,10,11,0.589327
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,4,7,5,2,0,0,No,0,4,0.121124
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,4,8,5,3,7,1,No,8,14,0.092122

In [96]:
#9 Convertir las columnas [BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Attrition]
from sklearn.preprocessing import OneHotEncoder

columnas = ['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Attrition']

for col in columnas:
    # limpiar los nulos
    EmpleadosAttrition[col] = EmpleadosAttrition[col].astype(str).fillna('')
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(EmpleadosAttrition[[col]])

    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out([col]), index=EmpleadosAttrition.index)
    EmpleadosAttrition = pd.concat([EmpleadosAttrition, encoded_df], axis=1)


EmpleadosAttrition  #58 columnas

,Age,BusinessTravel,Department,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,Attrition_No,Attrition_Yes
0,50,Travel_Rarely,Research & Development,2,Medical,997,4,Male,3,4,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,36,Travel_Rarely,Research & Development,2,Medical,178,2,Male,3,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,21,Travel_Rarely,Sales,1,Marketing,1780,2,Male,3,1,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,52,Travel_Rarely,Research & Development,4,Life Sciences,1118,2,Male,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,33,Travel_Rarely,Research & Development,1,Medical,582,2,Male,3,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,325,3,Male,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
396,31,Travel_Rarely,Sales,3,Life Sciences,175,2,Female,1,2,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
397,37,Travel_Frequently,Research & Development,3,Other,306,2,Male,3,3,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
398,38,Travel_Rarely,Research & Development,2,Medical,1687,4,Female,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
399,33,Travel_Rarely,Research & Development,3,Medical,252,4,Female,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [97]:
EmpleadosAttrition.dtypes

Age                                    int64
BusinessTravel                        object
Department                            object
Education                              int64
EducationField                        object
EmployeeNumber                         int64
EnvironmentSatisfaction                int64
Gender                                object
JobInvolvement                         int64
JobLevel                               int64
JobRole                               object
JobSatisfaction                        int64
MaritalStatus                         object
MonthlyIncome                          int64
NumCompaniesWorked                     int64
OverTime                              object
PercentSalaryHike                      int64
PerformanceRating                      int64
RelationshipSatisfaction               int64
TotalWorkingYears                      int64
TrainingTimesLastYear                  int64
WorkLifeBalance                        int64
YearsInCurrentRole                     int64
YearsSinceLastPromotion                int64
Attrition                             object
YearsAtCompany                         int64
DistanceFromHome                       int64
MonthlyIncome_Scarlar                float64
BusinessTravel_Non-Travel            float64
BusinessTravel_Travel_Frequently     float64
BusinessTravel_Travel_Rarely         float64
BusinessTravel_nan                   float64
Department_Human Resources           float64
Department_Research & Development    float64
Department_Sales                     float64
EducationField_Human Resources       float64
EducationField_Life Sciences         float64
EducationField_Marketing             float64
EducationField_Medical               float64
EducationField_Other                 float64
EducationField_Technical Degree      float64
Gender_Female                        float64
Gender_Male                          float64
JobRole_Healthcare Representative    float64
JobRole_Human Resources              float64
JobRole_Laboratory Technician        float64
JobRole_Manager                      float64
JobRole_Manufacturing Director       float64
JobRole_Research Director            float64
JobRole_Research Scientist           float64
JobRole_Sales Executive              float64
JobRole_Sales Representative         float64
MaritalStatus_Divorced               float64
MaritalStatus_Married                float64
MaritalStatus_Single                 float64
MaritalStatus_nan                    float64
Attrition_No                         float64
Attrition_Yes                        float64
dtype: object